@font-face {
  font-family: "LXGWWenKaiLite";
  src: url(https://cdn.staticaly.com/gh/zburu/cdn@main/font/LXGWWenKaiLite-Regular.subset.ttf);
}

* {
  font-family: "LXGWWenKaiLite" !important;
  padding: 0;
  margin: 0;
}

#app {
  max-width: 800px;
  margin: 20px auto;
  padding: 50px 0;
  position: relative;

  .theme {
    position: absolute;
    right: 15px;
    top: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    #light {
      display: none;
    }
  }

  .title {
    border-bottom: 1px solid #eee;
    padding: 0 15px 4px;
    margin-bottom: 5px;

    input {
      width: 100%;
      padding: 4px 0;
      outline: none;
      border: none;
      font-size: 26px;
      font-weight: 600;
      background: none;
      color: inherit;
    }

    #date {
      display: block;
      margin-top: 5px;
      text-align: right;
    }
  }
}

#editor {
  font-size: 18px;

  .ql-toolbar {
    background: #292927;
    border-radius: 6px;
  }

  .ql-editor {
    min-height: 200px;
    color: inherit;
    line-height: 1.6;
    
    ol,
    ul {
      padding-left: 1em;
    }

    h2 {
      padding-bottom: 10px !important;
    }
  }
}

.theme-dark {
  background: #222;
  color: #fff;

  #app .title {
    border-color: #4b4b4b;
  }

  * {
    color: #fff;
  }

  .ql-editor {
    color: #fff;
    &::before {
      color: #5a5a5a;
    }
  }
}
